<!DOCTYPE html>
<html lang="en">
<head>
  {% include 'bootstrap.html' %}
  <title>WorkWise Careers</title>  
  <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
</head>
<body>
  {% include 'nav.html' %}
  {% include 'banner.html' %}  
  <div class="container">
    <h1 class="text-center mt-2 mb-4">WorkWise Careers </h1>    
    <div class="row">
      <div class="col-md-6">
        <p class="lead">Welcome to WorkWise Careers, your trusted partner in the world of careers. Our mission is simple: to connect job seekers with their dream careers and help companies find top talent. Whether you're a recent graduate taking your first steps into the professional world or a seasoned pro looking for a new challenge, WorkWise Careers has the tools and resources to support your journey. With personalized career matching, a vast database of job listings, and expert career advice, we're here to help you navigate the path to success. Join us today, and let's embark on this career journey together.</p>
      </div>
      <div class="d-none d-md-block col-md-6">
        <img src="/static/ppl.jpg" alt="ppl working" height="320px" >
      </div>      
    </div>    
    <h2 class="text-center mt-4 mb-4">Job Openings</h2>    
    <div>
      {% for job in jobs %}
        {% include 'openjobs.html'%}
      {% endfor %}
    </div>    
    <div class="text-center">
      <a href="mailto:bhanu@kgpian.iitkgp.ac.in" type="button" class="btn btn-secondary btn-lg">Contact Us</a>
    </div>  
</div>
  {% include 'footer.html' %}
</body>
</html>
